#cc-main {
  --container-width: 90vw;
  --body-padding-block: 0.625rem;
  --body-padding-inline: 0.625rem;
  --button-font-family: Arial, sans-serif;

  .cm--bar.cm--inline .cm__body {
    max-width: var(--container-width);
    padding: var(--body-padding-block) var(--body-padding-inline);
  }

  .cm__btn-group,
  .pm__btn-group {
    border: none !important;
  }

  .cm__btn-group {
    button[data-role="show"] {
      display: none;
    }
  }

  .cm__desc {
    font-size: 0.9rem;
  }

  a {
    font-weight: inherit;
    background-image: none;

    &:hover {
      text-decoration: none;
    }
  }

  p a,
  [data-cc="show-preferencesModal"] {
    text-decoration: underline;
    text-underline-offset: 0.1em;
  }

  [data-cc="show-preferencesModal"] {
    font-size: 0.9rem;
    text-rendering: geometricprecision;

    &:hover {
      text-decoration: none;
    }
  }

  .pm__section--toggle + .pm__section--toggle {
    border-top: 1px solid #000;
  }

  .pm__title {
    font-size: 1.25rem;
  }

  .pm__section {
    display: none !important;
  }

  .pm__section-title {
    font-size: 0.95em;
  }

  .section__toggle:checked:disabled ~ .toggle__icon {
    background: transparent !important;
    box-shadow: none !important;
  }

  .section__toggle:checked:disabled ~ .toggle__icon .toggle__icon-circle,
  .toggle__icon {
    background-color: #000 !important;
    box-shadow: 0 0 0 1px #000;
  }

  .pm__section--expandable .pm__section-arrow svg {
    stroke: #000;
  }

  .section__toggle:checked:disabled ~ .toggle__icon svg {
    stroke: #fff;
  }

  .toggle__icon-off svg,
  .toggle__icon-on svg {
    stroke: #000;
  }

  .section__toggle:checked ~ .toggle__icon {
    stroke: #000;
    box-shadow: 0 0 0 1px #000;
  }

  .pm__section--toggle .pm__section-desc {
    padding-top: 0;
  }

  .pm__section--toggle {
    margin: 0;
  }

  @media (min-width: 768px) {
    .pm__section--toggle .pm__section-desc {
      padding-left: 3.6rem;
    }
  }
}
